<p id="notice"><%= notice %></p>

<h1>Listing Meetings</h1>

<table>
  <thead>
    <tr>
      <th>Meetdate</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @group.meetings.each do |meeting| %>
      <tr>
        <td><%= meeting.meetDate %></td>
        <td><%= link_to 'Show', group_meeting_path(@group, meeting) %></td>
        <td><%= link_to 'Edit', edit_group_meeting_path(@group, meeting) %></td>
        <td><%= link_to 'Destroy', [@group, @meeting], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Meeting', new_group_meeting_path(@group) %>
