<p id="notice"><%= notice %></p>

<p>
  <strong>Meetdate:</strong>
  <%= @meeting.meetDate %>
</p>
<p>
  <strong>Group:</strong>
  <%= @group.id %>
</p>

<%= link_to 'Edit', edit_group_meeting_path(@group, @meeting) %> |
<%= link_to 'Back', @group %>
