<p id="notice"><%= notice %></p>

<p>
  <strong>Meetdate:</strong>
  <%= @meeting.meetDate %>
</p>
<p>
  <strong>Group:</strong>
  <%= @meeting.group_id %>
</p>

<%= link_to 'Edit', edit_meeting_path(@meeting) %> |
<%= link_to 'Back', meetings_path %>
