<p id="notice"><%= notice %></p>

<h1>Listing Groups</h1>

<table class="table">
  <thead>
    <tr>
      <th><%= sortable "name", "Name" %></th>
	  <th><%= sortable "amount_of_memberships", "Members" %></th>
	  <th><%= sortable "created_at", "Created" %></th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @groups.each do |group| %>
      <tr>
        <td><%= link_to group.name, group %></td>
		<td><%= group.memberships.size %></td>
		<td><%= group.created_at.to_formatted_s(:german_format) %></td>
        <td><%= link_to '<i class="glyphicon glyphicon-pencil"></i>'.html_safe, edit_group_path(group) %></td>
        <td><%= link_to '<i class="glyphicon glyphicon-remove"></i>'.html_safe, group, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '<i class="glyphicon glyphicon-plus"></i> New Group'.html_safe, new_group_path %>
