<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @group.name %>
</p>

<p>
  <strong>Group ID:</strong>
  <%= @group.id %>
</p>

<h2>Members</h2>

<table class="table">
  <thead>
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Member ID</th>
      <th>Joined</th>
      <th>Remove from Group</th>
    </tr>
  </thead>

  <tbody>
    <% @group.memberships.each do |membership| %>
      <tr>
        <td><%= (Member.find_by id: membership.member_id).firstName %></td>
        <td><%= (Member.find_by id: membership.member_id).lastName %></td>
        <td><%= (Member.find_by id: membership.member_id).id %></td>
        <td><%= membership.joined %></td>
        <td><%= link_to 'Remove', membership, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Add Member', new_membership_path %>

<h2>Meetings</h2>

<table class="table">
  <thead>
    <tr>
      <th>Meeting ID</th>
      <th>Date</th>
      <th>Cancel</th>
    </tr>
  </thead>

  <tbody>
    <% @group.meetings.each do |meeting| %>
      <tr>
        <td><%= link_to meeting.id, group_meeting_path(@group, meeting) %></td>
        <td><%= meeting.meetDate %></td>
        <td><%= link_to 'Cancel', group_meeting_path(@group, meeting), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Add Meeting', new_group_meeting_path(@group) %>
<%= link_to 'Back', groups_path %>
